.graphic-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.graphic-title {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.graphic-square-wrapper {
    flex-grow: 1;
    width: 100%;
    height: 100%; /* Vul de overgebleven ruimte */
}