.house_icon {
    width: 50px; 
    height: 50px;
}

.household-list-container {
    max-height: 700px; /* Max hoogte van de lijst  <<<<<<< TODO Moet nog netter gedaan worden*/
    overflow-y: scroll;
}

.h1-with-icon {
    display: flex;
    align-Items: center;

    gap: 10px; 
}
.container{
    display: flex;
    flex-flow: column;
    background-color: #F8E6CE;
}