.resident_info-container {
    grid-row: 3 / 21;
    grid-column: 1 / 11;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}

.info{
    display: flex;
    flex-direction: column;

}

.select-resident-hint{
    grid-row: 3 / 21;
    grid-column: 1 / 11;
    display: flex;
    justify-content: center;
    align-items: center;
}