.resident-info-divider {
    border: none;
    border-top: 2px solid #222;
    width: 100%;
    margin: 16px auto;
}
.resident_info-container {
    grid-row: 3 / 21;
    grid-column: 1 / 11;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
}

.info h3 {
    margin: 0.2rem 0;
    font-size: 1.02rem;
    font-weight: 600;
}

.select-resident-hint{
    grid-row: 3 / 21;
    grid-column: 1 / 11;
    display: flex;
    justify-content: center;
    align-items: center;
}